@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background-color: #161719;
  --secondary-background-color: #202226;
  --primary-text-color: #ffffff;
  --primary-text-label-color: #d7d7d9;
  --header-height: 84px;
  --primary-background-selection-color: #794244;
  --primary-background-hover-color: #43464a;
  --chip-background-color: #282B2F;
  --image-background-color: #393342;
  --chip-text-color: #fafdf7;
  --image-sun-color: #FFEE58;
  --image-calendar-color: #FF7043;
  --primary-text-red-color: #FF474C;
}

@media (max-width: 600px) {
  :root {
    --header-height: 60px; /* Smaller header on mobile devices */
  }
}

@media (max-width: 767px) {
  .hide-on-small {
    display: none;
  }
}

*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--secondary-background-color); /* color of the track. It can be transparent or match the page background */
  /* border-radius: 10px; optional: roundness of the track */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-background-color); /* thumb color */
  border-radius: 10px; /* roundness of the thumb */
  border: 3px solid var(--secondary-background-color); /* creates padding around the thumb */
}

/* Styles for other parts of the scrollbar in webkit browsers */
*::-webkit-scrollbar-button {
  display: none; /* Optional: hides the buttons at the top and bottom of the scrollbar */
}

*::-webkit-scrollbar-corner {
  background: var(--secondary-background-color); /* Optional: color of the corner where both scrollbars meet */
}

.main-content {
  min-height: calc(100vh - var(--header-height));
}

html, body {
  padding: 0;
  margin: 0;
}

.even-row {
  background-color: var(--secondary-background-color);
}

.box-cost-cell {
  color: var(--primary-text-red-color) !important;
}

.skull-icon:hover {
  transform: scale(1.3); /* Example hover effect: increase size */
  transition: transform 0.3s ease; /* Smooth transition */
}